@media print {
 nav,button{
display: none;
}
nav{
	display: none !important;
}
html, body {
    width: 210mm;
    height: 297mm;
  }
.container_b{
   display: none;
}
.btn{
   display: none !important;

}
.logo-recipt{
   display: block !important;
}
img.center {
    display: block !important;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@page {
    size: A4;
    margin: 0;
}
.size-logo {
    height: 8em !important;
}
h4{font-size:22px !important;}
h5{font-size:18px !important;}
body {
        font-size:12px !important;
        margin:0px !important;
        padding:0px !important;
        border:none !important;
    }
    .card-panel {
   	 box-shadow: none !important;
	-moz-box-shadow: none! important;
	box-shadow: none !important;
	border:none !important;
    
}
.tex-morning{
	 margin-top: 16px;
}
 
#one-r{
	display:block !important;
}

}